<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263420847709-v79qq9318ksv9i079nk02e49nr2vacjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263420847709-v79qq9318ksv9i079nk02e49nr2vacjt</string>
	<key>API_KEY</key>
	<string>AIzaSyDriWyFY5qBzBiyDT_Hk0LjQHF5hQ-k_D4</string>
	<key>GCM_SENDER_ID</key>
	<string>263420847709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rodrick.Keepmate</string>
	<key>PROJECT_ID</key>
	<string>keepmate-a5197</string>
	<key>STORAGE_BUCKET</key>
	<string>keepmate-a5197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263420847709:ios:d7031dc74cb26ae8f30fb4</string>
	<key>DATABASE_URL</key>
	<string>https://keepmate-a5197.firebaseio.com</string>
</dict>
</plist>